.blur_box{
    width: calc((70vw / var(--width)) - (21px / var(--width)));
    height: calc((100vh / var(--height)) - 80px - (21px / var(--height)));
    background-color: rgba(234, 91, 111, 0.16);
    border-radius: 24px;
    cursor: pointer;
    backdrop-filter: blur(16px);
    transition: background-color 0.5s, transform 0.5s;
    transform-origin: center;
}
.blur_box:hover{
    background-color: rgba(234, 91, 111, 0.50);
    transform: scale(1.1);
}