.box{
    margin-top: 40px;
}
.top{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    column-gap: 10px; /* ซ้าย-ขวา */
    row-gap: 10px;   /* บน-ล่าง */
}
.bottom{
    justify-content: center;
    display: flex;
    column-gap: 10px; /* ซ้าย-ขวา */
    row-gap: 10px;   /* บน-ล่าง */
}
