.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 124px;
    height: 100%;
    cursor: pointer;
}
#second{
    position: absolute;
    opacity:0%;
}
.button:hover{
    background-color: #EA5B6F;
}
.button:hover #first{
 opacity: 0%;
}
.button:hover #second{
 opacity: 100%;
}






header{
    display: flex;
    height: 111px;
    background-color: rgba(234, 91, 111, 0.08);
}
#logo {
    margin-left: 35px;
}
.notice_button{
    height: 111px;
    position: absolute;
    right: 252px;
}
.home_button{
    height: 111px;
    position: absolute;
    right: 126px;
}
.profile_button{
    height: 111px;
    position: absolute;
    right: 0px;
}